pkgbase = cernbox-nemo
	pkgdesc = Nemo integration for CERN's CERNBox cloud service (based on ownCloud). Note: CERN IT does not provide official support for Arch Linux. Use at your own risk.
	pkgver = 5.2.1_13464
	pkgrel = 1
	url = http://cernbox.web.cern.ch/
	arch = x86_64
	license = GPL
	depends = cernbox
	depends = cernbox-overlay-icons
	depends = nemo-python
	source = https://cernbox.cern.ch/cernbox/doc/Linux/repo/Fedora_39/cernbox-client-nemo-5.2.1-13464.x86_64.rpm
	md5sums = 907f3f082cb82d46f533cfab2533614b

pkgname = cernbox-nemo
